body {
  text-align: center;
  font-family: sans-serif;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none; 
  background-color: #eee;
}

input:hover{
  border: 1px solid orange;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
  color: #eee;
}
